* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track:hover {
    background:rgb(39, 209, 39)
  }
  ::-webkit-scrollbar-track {
    background: rgb(115, 172, 219);
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(252, 103, 4);
    border-radius: 7px;
  }
  @keyframes entrada {
    from {opacity: 0.2;
    transform: translateY(-200px)}
    to {opacity: 1;
    transform: translateY(0)}
  }
  body {
    background-color: #121215;
    color: #eaeaea;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-areas: "perfil linhadotempo";
    grid-template-columns: 1 fr 1fr;
    grid-template-rows: 100vh;
  }
  aside {
    grid-area: perfil;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url("./background.svg");
    background-size: contain;
    border-right: 1px solid;
    border-image: linear-gradient(rgb(39, 209, 39), rgb(115, 172, 219), rgb(252, 103, 4)) 1;
  }
  aside * {
    animation: entrada 2s ease-in-out;
  }
  #loguinho {
    width: 30vw;
    height: auto;
  }
  #selfie {
    width: 15vw;
    height: auto;
    border-radius: 50%;
    border: 4px solid transparent;
    background: linear-gradient(rgb(39, 209, 39), rgb(115, 172, 219), rgb(252, 103, 4)) padding-box,
    linear-gradient(260deg, rgb(39, 209, 39), rgb(115, 172, 219), rgb(252, 103, 4)) border-box;
  }
  aside p {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  aside span {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #9e9ea0;
  }
  header {
    background: transparent;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  color: lavenderblush;
  padding: 10px;
  cursor: pointer;
  font-size: 19px;
  transition: .5s;
  font-family: "Roboto", sans-serif;;
}
li:hover {
  color: rgb(39, 209, 39);
}
  nav {
    padding: 64px;
    grid-area: linhadotempo;
    overflow-y: scroll;
    animation: entrada 2s ease-in-out;
  }
  .socialmedia {
    text-decoration: none;
    width: 110px;
    display: flex;
    justify-content: space-between;
    grid-area: linhadotempo;
    margin-left: 4px;
  }
  i {
    color: lavenderblush
  }
  i:hover {
    color: rgb(39, 209, 39)
  }
  .memory {
    display: flex;
    flex-direction: column;
    gap: 16px;  
    text-decoration: none;
    margin-bottom: 50px;
  }
  .memory small {
    color: #bebebf;
    font-size: 12px;
  }
  .memory h1 {
    font-size: 32px;
    color: #eaeaea;
  }
  .memory img {
    width: auto;
    height: 280px;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  .memory div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 280px;
    overflow: hidden;
    border-radius: 8px;
  }
  .memory:hover img {
    transform: scale(1.1);
    border-radius: 8px;
  }
  .quemsou {
      font-size: 16px;
      color: rgb(115, 172, 219);
      line-height: 25px;
      margin-top: 75px;
  }
  .memory p {
    font-size: 18px;
    color: #bebebf;
    line-height: 28px;
  }
  @media (max-width: 768px) {
    body {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 0.8fr;
      grid-template-areas: "perfil" 
      "linhadotempo";
      width: 100vw;
    }   
    aside {
      border-right: none;
      padding: 12px 8px;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
    }  
    aside p {
      font-size: 14px;}
    aside span {
      width: 80vw;
    }
    header {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    nav {
      padding: 5px;
    }
    ul {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 50vw;
      justify-content: space-around;
    }
    li {
      font-size: 13px;
    }
    .socialmedia {
      width: 80px;
      display: flex;
      justify-content: space-between;
      margin-left: 4px;
    }
    #loguinho {
      width: 25vw;
      height: auto;
    }
    .quemsou {
      font-size: 14px;
    }
    #selfie {
      width: 35vw;
      height: auto;}
      .memory img {
        width: 80vw;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out;
      }
      .memory div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: auto;
        overflow: none;
        border-radius: 8px;
      }
      .memory:hover img {
        transform: scale(1.1);
        border-radius: 8px;
      }
    .memory h1 {
      font-size: 14px;
    }
    .memory p {
      font-size: 12px;
    }
  }